body {
  background-color: white;
  color: black;
  text-align: center;
}

header {
  background-color: white;
  color: #ffffff;
  padding: 20px;
}

section {
  background-color: skyblue;
  color: #000000;
  padding: 20px;
  margin-bottom: 0px;
}

.sec1 {
  background-color: white;
  padding: 20px;
  margin-bottom: 0px;
}

.sec2 {
  background-color: whitesmoke;
  padding: 20px;
  margin-bottom: 0px;
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  color: blue;
  font-size: 50px;
}

h2 {
  font-family: "Trebuchet MS", sans-serif;
  color: blue;
  font-size: 30px;
}

p {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
}


h3 {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin: auto;
  font-family: "Trebuchet MS", sans-serif;
}

thead {
  background-color: skyblue;
  color: blue;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center;
}

/* Optional: add hover effect to table rows */
tr:hover {
  background-color: lightblue;
  transform: scale(1.09); /* Increase the size of the table row by 20% on hover */
  transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
}

.aboutme {
  width: 80%;
  margin: auto;
}

